* {box-sizing: border-box;}

body {
    margin: 0;
}

.container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    margin-right: 0;
    padding: 0;
}

nav {
    background-color: gray;
}

a {
    text-decoration: none;
    padding-right: 1em;
}

nav a:hover {
    text-decoration: none;
    display: inline-block;
    color: #750121;
}

.Logo {
    display: flex;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li:nth-child(4) {
    margin-right: auto;
}

nav ul li:nth-child(5) {
    margin-right: auto;
    align-items: center;
}




