/* Main Header */
h1.fancy-header {
    color: #3260a8; /* single line comment */
    text-decoration: underline;
    text-align: center;
}
/* Secondary Header */
header {
    text-align: center;
    text-decoration: underline;
    color: #2e4770;
}

